<!DOCTYPE html>
<html ng-app="todolist">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ToDo list</title>
    <script src="lib/angular/angular.js" type="text/javascript"></script>
    <script src="lib/lodash/lodash.js" type="text/javascript"></script>
    <script src="lib/dragndrop.js" type="text/javascript"></script>
    <script src="todolist.js" type="text/javascript"></script>
    <link href="index.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-controller="todolistController" keypress-events>
<div class="board" ng-click="createTodo($event)" on-drop="moveTodo" drop-area>
    <div ng-repeat="t in todos track by $index" ng-click="$event.stopPropagation()" id="{{t.id}}" class="item todo" ng-class="{urgent: t.today}" style="{{t.pos}}" drag-item>
        <label><input type="checkbox" ng-model="t.today">due today</label>
        <input class="done" type="button" ng-click="deleteTodo(t.id); $event.stopPropagation()" value="done">
        <hr>
        <textarea ng-model="t.description" ng-required="true"></textarea>
    </div>
    <a download="todolist.json" ng-click="$event.stopPropagation()" ng-href="data:application/json;charset=UTF-8;base64,{{backup}}">backup</a>
</div>
</body>
</html>