html,body {
	height: 100%;
	margin: 0;
}

[drop-area] {
	min-height: 100%;
}

.item {
	min-height: 150px;
	min-width: 150px;
	background: blue;
	position: absolute;
}

.drag {
	opacity: 0.5;
}

.over {
}