html,body {
	height: 100%;
	margin: 0;
}

[drop-area] {
	min-height: 100%;
}

.item {
	min-height: 150px;
	min-width: 150px;
	background: blue;
	position: absolute;
	left: 123px;
	top: 456px;
}

#item2 {
	background: green;
	left: 456px;
	top: 123px;
}

.drag {
	opacity: 0.5;
}

.over {
}